<!DOCTYPE html>
<html>

<head>
    <title>TODO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <div class="user-info">
        <div class='username-div'>
            <h1 id="user-name"></h1><i class="fa-solid fa-user"></i>
        </div>
        <a id="log-out" href="#">logout</a>
    </div>
    <div class="todo-list">
        <ul id='todo-list'></ul>
        <button id='todo-update'>Update</button>
        <button id='todo-delete'>Delete</button>
    </div>
    <div class="todo-manager">
        <input id='todo-input' type="text" placeholder="Put the name of task here ...">
        <button id='todo-add'>Add</button>
    </div>

    <div style="flex-grow:1"></div> <!-- This is a spacer to push the footer to the bottom of the page -->
    <div class="footer">
        <div class="footer-left">
            <p>TODO list project<br> coding assignment</p>
        </div>
        <div class="footer-right">
            <p>Created by <a href="https://kyuqdev.pages.dev" target="_blank">KyuqDev</a></p>
            <p>Collaborated on by <a href="https://larssj.dev" target="_blank">Pre1ude0</a></p>
            <p>Source code on <a href="https://github.com/Kyuqdev/HTML-TODOLIST/" target="_blank">GitHub <i
                        class='fab fa-github'></i></a>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>