<!DOCTYPE html>
<html>

<head>
    <title>TODO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <div class="user-info">
        <div class='username-div'>
            <h1 id="user-name"></h1><i class="fa-solid fa-user"></i>
        </div>
        <a id="log-out" href="#">logout</a>
    </div>
    <div class="todo-list">
        <ul id='todo-list'></ul>
        <button id='todo-update'>Update</button>
        <button id='todo-delete'>Delete</button>
    </div>
    <div class="todo-manager">
        <input id='todo-input' type="text" placeholder="Put the name of task here ...">
        <button id='todo-add'>Add</button>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>