<html>

<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <h1>Log in</h1>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button id="submit">Log in</button>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</html>