<html>

<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <h1>Log in</h1>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>
    <div class="buttons">
        <button id="submit-login">Log in</button>
        <button id="submit-register">Register</button>
    </div>
    <h2 id="error-message"></h2>
    <div id='hidden-password'></div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password.js')}}"></script>
</body>

</html>