<html>

<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <h1>Log in</h1>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>
    <div class="buttons">
        <button id="submit-login">Log in</button>
        <button id="submit-register">Register</button>
    </div>
    <h2 id="error-message"></h2>
    <div id='hidden-password'></div>
    <div style="flex-grow:1"></div> <!-- This is a spacer to push the footer to the bottom of the page -->
    <div class="footer">
        <div class="footer-left">
            <p>TODO list project<br> coding assignment</p>
        </div>
        <div class="footer-right">
            <p>Created by <a href="https://kyuqdev.pages.dev" target="_blank">KyuqDev</a></p>
            <p>Collaborated on by <a href="https://larssj.dev" target="_blank">Pre1ude0</a></p>
            <p>Source code on <a href="https://github.com/Kyuqdev/HTML-TODOLIST/" target="_blank">GitHub <i
                        class='fab fa-github'></i></a>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password.js')}}"></script>
</body>

</html>